<br>
<div>

    <h2>Products List api.2.0</h2><br>
    <table border="2"  class="table table-lg table-success">
    <thead class="table-warning">

        <th>Product id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th colspan="2" style="text-align: center;">Functions:</th>
    </thead>

    <tr *ngFor="let product of products">
        <td>{{product.productid}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.qty}}</td>

        <!-- <td><button class="btn btn-primary" (click)="updateProduct(product)">Update</button></td>
        <td><button class="btn btn-danger" (click)="deleteproduct(id)">Delete</button></td> -->

        <!-- <button class="btn btn-primary" (click)="navigateToUpdatePage(Id)">Update</button> -->
        <!-- <td><button class="btn btn-primary" ><a routerLink="/update">Update</a></button></td>
        <td><button class="btn btn-danger"><a routerLink="/delete">Delete</a></button></td> -->
        <td><button class="btn btn-warning"> <a [routerLink]="'/update/' + product.productid">update</a></button></td>
        <td><button class="btn btn-danger" *ngIf="product.productid != undefined" > delete</button></td>
    </tr>
    </table>
</div>
<hr>
