<br>
<br>
<header style="color: blueviolet;">
  <h1>Crud Operations: <span></span></h1>
  <nav class="navbar fixed-top navbar-expand navbar-light my-navbar " style="background-color: #e3f2fd;" >
    <a class="navbar-brand" routerLink="create"> Create&nbsp;</a>
    <a class="navbar-brand" routerLink="retrieve"> Retrieve&nbsp;</a>
    <!-- <a class="navbar-brand" routerLink="update"> Update&nbsp;</a>
    <a class="navbar-brand" routerLink="delete"> Delete&nbsp;</a> -->
    
  </nav>
</header>

<!-- navbar fixed-top navbar-light

navbar navbar-expand navbar-light my-navbar -->

<router-outlet></router-outlet>

 

  <!-- <app-delete></app-delete>

  <app-update></app-update> -->
